* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

img {
    padding: 50px;
    height: 500px;
    width: 500px;
}