body {
    background-color: blue;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: left;
    color: #bbb;
}

.paragrafo-1 {
    justify-content: center;
    color: rgb(101, 37, 40);

}

.paragrafo-2 {
    text-align: right;
    font-size: 40px;
}